body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #c2730c;
}
#recipe1 img{
    height: 200px;
    width: 200px;
    align-items: center;
}

#recipe2 img{
    height: 200px;
    width: 200px;
}

#recipe3 img{
    height: 200px;
    width: 200px;
}